!... all target ~/.Xresources
!... main begin
!... main hash 58592B36BBA7940A1A074CEDA495764716B8AF91C53422C59401D902A348BA3C

URxvt.scrollBar: false
URxvt.perl-ext-common: resize-font
Xcursor.size: 16

*.background: #282828
*.foreground: #ebdbb2

!black
*color0: #282c34
*color8: #545862

!red
*color1: #cc241d
*color9: #fb5934

!green
*color2: #98971a
*color10: #b8bb26

!yellow
*color3: #d79921
*color11: #fabd2f

!blue
*color4: #458588
*color12: #83a598

!magenta
*color5: #b16286
*color13: #d3869b

!cyan
*color6: #689d6a
*color14: #8ec07c

!white
*color7: #a89984
*color15: #ebdbb2

URxvt.font: xft:Fira Code Nerd Font Mono:size=13

!... main end

